@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 83%;
    margin: 0 auto;
    background-color: rgba(226, 162, 182, 0.212);
}


/* .fixed-header {
    position: fixed;
} */
a{
    text-decoration: none;
    color: black;

}
li {
    list-style: none;
}

header #top-div {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

header #top-div #icons {
    display: flex;
    justify-content: space-around;
} 
header #top-div #icons li {
    margin-left: 4px ;
} 

header #top-div #icons li a {
    padding: 6px 9px;
    background-image: linear-gradient(to top, #884a5950 0%, #3f2922ab 100%);    
}
#logo {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}
#logo span {
    color: rgba(158, 32, 32, 0.842);
    font-size: 27px;
}

header nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4%;
    font-size: 13px;
}



header nav, #logo {
    /* background-color: indigo;
    position: fixed;
    z-index: 1; */
}

header nav li a {
    transition: .7s;
    transition-property: color background-color;
    padding: 10px;
}

nav  li a:hover {
    color: whitesmoke;
    background-color: rgba(158, 32, 32, 0.842);
    
}

nav #about {
    font-weight: 500;
    color: rgba(158, 32, 32, 0.842);
    transition: .7s;
}

nav #about:hover {
    color: rgba(233, 222, 222, 0.842);
    background-color: rgba(158, 32, 32, 0.842);
}

/* ---------------------- main ----------------*/
.container {
    margin-top: 3%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 0;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

.container div {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0 100px 100px;
    font-size: 20px;
    color: rgb(218, 208, 208);
    letter-spacing: 2px;


}

.container div a {
    margin-top: 5%;
    position: absolute;
    border: 5px rgba(158, 32, 32, 0.842) solid;
    padding: 9px;
    color: rgb(218, 208, 208);
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255, 235, 205, 0.226);
    transition: 1s ;
    transition-property: color background-color;
}

.container div a:hover {
    background-color: rgb(218, 208, 208);
    color: rgba(26, 24, 22, 0.931);

}

/*-----------------middle-----------*/
#middle {
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
}

#middle h1 {
    padding: 20px;
    font-size: 28px;
    width: 25%;
   
}

#middle p {
    width: 50%;
    font-size: 15px;
    padding: 40px 20px 20px 20px;
}

#flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#flex div {
    margin-bottom: 5%;
    width: 300px;
    height: 310px;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    /* background-color: #4CAF50; */
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 8px;
    font-size: 8px;
    font-weight: lighter;
    letter-spacing: 2px;
}

#flex div img {
    width: 300px;;
    height: 250px;
    padding: 8px;
}
#flex div p {
    font-size: 12px;
    color: black;
} 

#price {
    margin-top: 3%;
}

/*----------------fieldset ------------------*/
fieldset {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    margin: 5% auto ;
    height: 250px;
    width: 80%;
    font-weight: bold;
}

fieldset form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

fieldset form div {
    width: 250px;
    margin: 1% auto;
    
}
fieldset form div legend {
    margin: 0 auto;
    width: 160.34px;
    text-align: initial;
    font-size: 11px;
    margin-bottom: 4px;
}

fieldset form #order {
    width: 100px;
    height: 40px;
    
    
}

fieldset form div input , fieldset form div select {
    height: 30px;
    width: 160.33px;
}
fieldset form div input {
    font-size: 10px;
    font-weight: 100;
}
form #submit-div {
    width: 100%;
}

form #submit-div input  {
    border: 5px rgba(197, 100, 76, 0.787) solid;
    color: rgb(32, 29, 29);
    background-color: rgba(88, 81, 70, 0.226);
    font-weight: bold;
    transition: .5s ;
    font-size: 12px;
    letter-spacing: 1px;
    transition-property: color background-color font-size padding ;
}
form #submit-div input:hover {
    background-image: linear-gradient(to top, #884a5986 0%, #3f2922b6 100%);    
    color: lavender;
    font-size: 15px;
}


form input:focus::placeholder {
    color: transparent;
}

form input:focus {
      font-size: 13px;

  }

/* ------------footer -------------*/ 
footer {
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    height: 180px;
    margin-top: 8%;
    line-height: 20px;
    background-image: linear-gradient(to top, #965b6a 0%, #3f2922 100%); 
}

footer div {
    padding: 17px 0 0 0;
}

footer div  #icons-footer li {
    margin-left: 10px ;
    margin-top: 12%;
    
} 
footer #icons-footer li a {
    padding: 6px 9px;
    background-image: linear-gradient(to top, #884a5950 0%, #3f2922ab 100%);    
}


footer div .headers-row {
    font-size: 12px;
    font-weight:bold;
}

footer div .para-footer {
    padding-top: 15px;
    line-height: 25px;
}




.res {
  text-align: center;
  margin-top: 4%;
  font-size: medium;
}

#fieldset-after-submit {
    height: 280px;
}

.res-show {
    display: block;
    text-align: center;
    font-size: 20px;
    color: rgb(33, 153, 117);
}
/*--------------------dash page----------*/
#dash-header {
    margin-top: 2%;
    text-align: center;
}

#orders-section {
    margin: 4% 0 ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.delete-form {
    font-size: 11px;
    line-height: 20px;
    height: 220px;
    width: 220px;
    padding: 10px;
    border: #3f2922 3px solid;
}

.delete-order {
    width: 35%;
}


#seperate-div {
    height: 10px;
    width: 100%;
    background-color: #3f2922;
}

#items-section {
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.update-form {
    margin-bottom: 2%;
    width: 100%;
    height: 40px;
    border: grey 1px dashed  ;
    
}

.update-form .id {
    width: 30px;
    margin-right: 20px;
}

.update-form input {
    margin-right: 20px;
    height: 35px;
}

.update-item {
    width: 60px;
    height: 30px;
    margin-left: 50px;
}


/*-----------------check-dash-page--------------*/

#check-dash-main {
    margin-top: 5%;
    text-align: center;
}

#check-dash-main form input {
    margin-top: 20px;
    width: 20%;
    height: 40px;
}

#log-in {
    width: 10%;
    height: 35px;
    background-color: grey;
}

.sticky {
    position: fixed;
    text-align: start;
    top: 0;
    margin-top: 0;
    width: 83%;
    z-index: 1;
    background-image: linear-gradient(to top, #965b6a 0%, #3f2922 100%);    
    margin: auto;
    padding-bottom: 15px;
}


.header-nav-scroll {
    margin-top: 2%;
}

.nav-color {
    color: lavender;

}

.bar-icon {
    display: none;
}

#nav-bar {
    display: none;
}


/*################### Mobile Screen ###########*/ 



@media screen and (max-width:430px){

    header #top-div {
        display: none;
    
    }
    
    .bar-icon {
        display: block;
       
    }
    
    #myHeader {
        margin-top: 4%;
        display: flex;
        justify-content: space-between;
    }

    #myHeader li {
        margin-top: 7px;
    }

    #myHeader li a {
        padding: 9px 11px;
        background-image: linear-gradient(to top, #965b6a 0%, #3f2922 100%); 
        color: aliceblue;
    }
    #logo {
        margin-top: 3.5px;
       text-align: start;
        font-size: 20px;
        letter-spacing: 2px;
    }
    #logo span {
        color: rgba(158, 32, 32, 0.842);
        font-size: 18px;
    }
    
    header nav {
        display: none;
    }
    
    #nav-bar {
        line-height: 30px;
        width: 100%;
        background-image: linear-gradient(to top, #965b6a 0%, #3f2922 100%);    
        text-align: center;
        display: block;
        padding: 10px;
    }

    #nav-bar li a {
        color: cornsilk;
        font-size: 10px;
    }

    
    /* ---------------------- main ----------------*/
    .container {
        margin-top: 7%;
        height: 300px;
    }
    
    .container div {
        padding: 0 0 80px 75px;
        font-size: 11px;
    }
    
    .container div a {
        margin-top: 5%;
        position: absolute;
        padding: 9px;
        font-size: 11px;
    }
    
   
    
    /*-----------------middle-----------*/
    #middle {
        height: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 1%;
    }
    
    #middle h1 {
        padding: 15px;
        font-size: 12px;
        width: 35%;
       
    }
    
    #middle p {
        width: 60%;
        font-size: 9px;
        padding: 25px 20px 20px 20px;
    }
    
    #flex div {
        margin-bottom: 5%;
        width: 220px;
        height: 240px;
    }
    
    #flex div img {
        width: 220px;;
        height: 190px;
    }
    #flex div p {
        font-size: 10px;
    } 

    /*----------------fieldset ------------------*/

    fieldset {
        margin: 5% auto ;
        height: 315px;
        width: 80%;
        font-weight: bold;
    }
    
    fieldset form {
        display: block;
    }
    
    fieldset form div {
        width: 250px;
        margin: 1% auto;
        
    }
    fieldset form div legend {
        margin: 0 auto;
        width: 160.34px;
        text-align: initial;
        font-size: 9px;
        margin-bottom: 4px;
        margin-top: 7px;
    }
    
    fieldset form #order {
        margin: 1.3%;
        width: 53px;
        height: 28px;
        font-size: 10px;
    }
    
    
    fieldset form div input , fieldset form div select {
        height: 24px;
        width: 175px;
    }
    fieldset form div input {
        font-size: 8px;
        font-weight: 80;
    }
    form #submit-div {
        width: 100%;
    }


    form #submit-div input:hover {
        background-image: linear-gradient(to top, #884a5986 0%, #3f2922b6 100%);    
        color: lavender;
        font-size: 10px;
    }
 
    
    
    /* ------------footer -------------*/ 
    footer {
        height: 130px;
        color: lavender;
        text-align: center;
   
    }

    footer div {
        width: 30%;
    }
    
    footer div  #icons-footer li {
        margin: -10px;     
    } 
    footer #icons-footer li a {
        margin-top: 13%;
        color: lavender;
        padding: 5px 7px;
    }
    
    
    footer div .headers-row {
        font-size: 8px;
        font-weight:bold;
    }
    
    footer div .para-footer {
        font-size: 7px;
    }

    .res-show {
        font-size: 11.5px;
    }

    
    /*--------------------dash page----------*/
    #dash-header {
        margin-top: 2%;
        text-align: center;
    }
    
    #orders-section {
        margin: 4% 0 ;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    
    .delete-form {
        font-size: 11px;
        line-height: 20px;
        height: 220px;
        width: 220px;
        padding: 10px;
        border: #3f2922 3px solid;
    }
    
    .delete-order {
        width: 35%;
    }
    
    
    #seperate-div {
        height: 10px;
        width: 100%;
        background-color: #3f2922;
    }
    
    #items-section {
        margin-top: 4%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    
    .update-form {
        margin-bottom: 2%;
        width: 100%;
        height: 40px;
        border: grey 1px dashed  ;
        
    }
    
    .update-form .id {
        width: 30px;
        margin-right: 20px;
    }
    
    .update-form input {
        margin-right: 20px;
        height: 35px;
    }
    
    .update-item {
        width: 60px;
        height: 30px;
        margin-left: 50px;
    }
    
    
    /*-----------------check-dash-page--------------*/
    #check-dash-main form {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);    
        margin-top: 8%;
        height: 200px;
    }
    #check-dash-main {
        margin-top: 7%;
        text-align: center;
    }
    
    #check-dash-main form input {
        margin-top: 20px;
        width: 150px;
        height: 30px;
    }
    #check-dash-main form input:nth-child(5) {
        width: 100px;
    }
   
    #log-in {
        width: 10%;
        height: 35px;
        background-color: grey;
    }
    
    .sticky {
        position: fixed;
        text-align: start;
        top: 0;
        margin-top: 0;
        width: 83%;
        z-index: 1;
        background-image: linear-gradient(to top, #965b6a 0%, #3f2922 100%);    
        margin: auto;
        padding-bottom: 15px;
    }
    
    
    
    

}